<nav class="navbar is-light">
  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-fullwidth is-warning">
              <strong>❱ FILTERS</strong>
            </a>
          </p>
          <p class="control">
            <a class="button is-warning is-outlined" href="https://github.com/jgthms/bulma/releases/download/0.7.1/bulma-0.7.1.zip">
              <span>
                <strong>X CLEAR</strong>
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-fullwidth">
              <strong>🤓 SORT BY</strong>
            </a>
          </p>
          <p class="control">
            <a class="button is-fullwidth" href="https://github.com/jgthms/bulma/releases/download/0.7.1/bulma-0.7.1.zip">
              <span>💰</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
